<div class="container">
    <h1>ViewComponent</h1>

	<div>
		<h2>Snippet</h2>
		@ViewComponent("_simple")

        <h2>Simple Typed</h2>
        @(ViewComponent<TestWebApp.ViewComponents.FooComponent>())

        <h2>With Data</h2>
        @ViewComponent("_datacontainer", "Some data")

        <h2>Typed With Data</h2>
        @(ViewComponent<TestWebApp.ViewComponents.BarComponent>("Some data"))
	</div>
</div>
